.contact-icons .btn {
	transition: transform .2s;
	
}

.contact-icons .btn:hover {
	transform: scale(1.1);
}
body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5, .navbar a{
    font-family: 'Roboto Slab', serif;
}

